<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.social.basecommon" >

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <application>
        <activity
            android:name=".viewbigimage.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme" />
    </application>

</manifest>
